[Unit]
Description=hdparm sleep
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hdparm -q -S 120 -y /dev/sda

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
